.bottom-bar {
  width: 100%;
  height: 50px;
  background-color: #90D5FF !important; /* Light blue */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  padding: 0;
  border: none;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}



.bottom-bar h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #004e8c;
}
