/* LeftBar.css */
.left-bar {
    background-color: #90D5FF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

/* This applies styles to the items like Baby Information */
.left-bar-item {
    width: 100%; /* add this line */
    padding: 10px;
    background-color: #90D5FF;
    color: black;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.left-bar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.left-bar-item:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.left-bar-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
